{% extends "base.html" %}
{% block content %}
<section class="about-section">
    <h1>About FightZone</h1>
    <h2>
        FightZone is the ultimate boxing gym that combines passion, training, and community.
        Founded by <strong>Cynrics</strong>, our mission is to create champions—inside and outside the ring.
        <br><br>
        With professional trainers, elite equipment, and programs built for all levels,
        you’re not just joining a gym—you’re joining a family of fighters.
    </h2>

    <div class="about-verse">
        <span>Deuteronomy 20:4</span><br>
        “for the Lord your God is he who goes with you to fight for you against your enemies, to give you the victory.”
    </div>
</section>
{% endblock %}
