{% extends 'base.html' %}
{% block content %}
<h2>Welcome to Fight Zone</h2>

<p>Welcome to <strong>Fight Zone</strong> — the ultimate place to explore the power of boxing and fitness.
Discover how boxing can help you achieve strength, discipline, and a healthy lifestyle.</p>

<img src="{{ url_for('static', filename='images/home_image.png') }}"
     class="hero home-img"
     alt="Local Fight Zone image">

<p>Boxing is more than a sport — it’s a mindset. Every punch, every round, every drop of sweat brings you closer to becoming the best version of yourself.</p>
{% endblock %}
